.wrapper {
    background-color: #f8f9fd;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.wrapper .logo {
    margin: 50px auto;
}

.wrapper .logo img {
    max-width: 300px;
}

.go-back-button {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    background-color: #5f4bdb;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}

.go-back-button:hover {
    color: #FFF;
    opacity: 0.9;
}

.payment-texts h4 {
    color: rgba(0, 0, 0, .65);
    margin-bottom: 20px;
}
.payment-texts h5 {
    color: rgba(0, 0, 0, .65);
    margin-bottom: 50px;
    font-size: 17px;
}
.payment-texts h6 {
    color: rgba(0, 0, 0, .65);
    margin-bottom: 20px;
}
.hidden {
    display: none;
}